/*______________________________________________________________________________ 
                                Navbar [Header.js]
______________________________________________________________________________  */

.Navbar {
  position: fixed;
  background: var(--box-color1);
  font-family: Megalomaniac;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  z-index: 1;
  color: black;
  /* border-bottom: solid black 0.15rem; */
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
}

.Navbar a {
  margin-top: 1rem;
  font-size: 2.5rem;
  margin-right: 5rem;
}

.Navright {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  width: 200px;
}

.Navleft {
  font-weight: 400;
  padding-left: 20px;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.Navleft img {
  height: 100%;
  object-fit: contain;
  margin: -0.5rem;
}

.Navbar a:hover {
  color: white;
  cursor: pointer;
}
